# Database
sqlalchemy
python-dotenv

# API
fastapi
uvicorn[standard]
pydantic

# LangChain
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq

# Data Science & ML
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib

# Notebook
jupyter