<aside class="saku-sidebar">

    <!-- LOGO -->
    <div class="saku-brand">

        <div class="saku-brand-icon">
            <i class="fa-solid fa-wallet"></i>
        </div>

        <span class="saku-brand-text">
            SAKU POS
        </span>

    </div>


    <!-- MENU -->
    <nav class="saku-nav">

        <!-- KASIR -->
        <a
            href="pages/1_kasir.html"
            class="saku-nav-link"
            data-page="kasir"
        >
            <i class="fa-solid fa-cash-register"></i>

            <span class="saku-nav-label">
                Kasir
            </span>
        </a>


        <!-- DASHBOARD -->
        <a
            href="pages/3_dashboard.html"
            class="saku-nav-link"
            data-page="dashboard"
        >
            <i class="fa-solid fa-chart-line"></i>

            <span class="saku-nav-label">
                Dashboard
            </span>
        </a>


        <!-- INVENTARIS -->
        <a
            href="pages/4_inventaris.html"
            class="saku-nav-link"
            data-page="inventaris"
        >
            <i class="fa-solid fa-boxes-stacked"></i>

            <span class="saku-nav-label">
                Inventaris
            </span>
        </a>


        <!-- AKUNTANSI -->
        <a
            href="pages/5_akuntansi.html"
            class="saku-nav-link"
            data-page="akuntansi"
        >
            <i class="fa-solid fa-calculator"></i>

            <span class="saku-nav-label">
                Akuntansi
            </span>
        </a>


        <!-- SAKUBOT -->
        <a
            href="pages/2_chatbot.html"
            class="saku-nav-link"
            data-page="chatbot"
        >
            <i class="fa-solid fa-robot"></i>

            <span class="saku-nav-label">
                SakuBot AI
            </span>
        </a>

    </nav>

</aside>